# file: group_vars/osx.yml

---
ruby:
  version: 2.0.0-p247

# executables -------------------------------------------------------------
executables:
  brew: /usr/local/bin/brew
  vim: /Applications/MacVim.app/Contents/MacOS/Vim
  zsh: /usr/local/bin/zsh

# directories -------------------------------------------------------------
directories:
  etc: /usr/local/etc
  var: /usr/local/var
# auth --------------------------------------------------------------------
vwall:
  user:
    name: vwall
    group: staff
    shell: "{{ executables.zsh }}"
  home: /Users/vwall
